In [1]:
import pandas as pd 
import numpy as np

In [2]:
df =pd.read_csv('IMDB-Movie-Data.csv')

In [3]:
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [4]:
display(type(df))

pandas.core.frame.DataFrame

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [6]:
df.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [7]:
df.duplicated()
#no duplicates in the data frame

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [8]:
df.set_index('Title',inplace=True)

In [9]:
df

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [10]:
df.loc['Suicide Squad','Rank']

5

In [11]:
df.iloc[5]

Rank                                                                  6
Genre                                          Action,Adventure,Fantasy
Description           European mercenaries searching for black powde...
Director                                                    Yimou Zhang
Actors                    Matt Damon, Tian Jing, Willem Dafoe, Andy Lau
Year                                                               2016
Runtime (Minutes)                                                   103
Rating                                                              6.1
Votes                                                             56036
Revenue (Millions)                                                45.13
Metascore                                                          42.0
Name: The Great Wall, dtype: object

In [12]:
df_new =df[['Rank','Genre']]

In [13]:
df_new #the index will show up with any subset you choose

                         Rank                     Genre
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy
...                       ...                       ...
Secret in Their Eyes      996       Crime,Drama,Mystery
Hostel: Part II           997                    Horror
Step Up 2: The Streets    998       Drama,Music,Romance
Search Party              999          Adventure,Comedy
Nine Lives               1000     Comedy,Family,Fantasy

[1000 rows x 2 columns]

In [14]:
df_nums=df.select_dtypes(include=['int64','float64'])

In [15]:
df_nums

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,
Guardians of the Galaxy,1,2014,121,8.1,757074,333.13,76.0
Prometheus,2,2012,124,7.0,485820,126.46,65.0
Split,3,2016,117,7.3,157606,138.12,62.0
Sing,4,2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...
Secret in Their Eyes,996,2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,2008,98,6.2,70699,58.01,50.0
Search Party,999,2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,2016,87,5.3,12435,19.64,11.0

In [16]:
df_strs=df.select_dtypes(include=['object'])

In [17]:
df_strs

,Genre,Description,Director,Actors
Title,,,,
Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa..."
Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
...,...,...,...,...
Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli..."
Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."
Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh..."
Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 126.0+ KB

In [19]:
df.isnull().sum()

Rank                    0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 126.0+ KB

In [21]:
df_new=df
df_copy=df.copy()

In [22]:
df.dropna(axis=0,inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 838 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                838 non-null    int64
 1   Genre               838 non-null    object
 2   Description         838 non-null    object
 3   Director            838 non-null    object
 4   Actors              838 non-null    object
 5   Year                838 non-null    int64
 6   Runtime (Minutes)   838 non-null    int64
 7   Rating              838 non-null    float64
 8   Votes               838 non-null    int64
 9   Revenue (Millions)  838 non-null    float64
 10  Metascore           838 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 78.6+ KB

In [24]:
df_new.info() # making df_new = df makes the changes on both

<class 'pandas.core.frame.DataFrame'>
Index: 838 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                838 non-null    int64
 1   Genre               838 non-null    object
 2   Description         838 non-null    object
 3   Director            838 non-null    object
 4   Actors              838 non-null    object
 5   Year                838 non-null    int64
 6   Runtime (Minutes)   838 non-null    int64
 7   Rating              838 non-null    float64
 8   Votes               838 non-null    int64
 9   Revenue (Millions)  838 non-null    float64
 10  Metascore           838 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 78.6+ KB

In [25]:
df.isnull().sum()

Rank                  0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

In [26]:
df_copy.fillna(df_copy['Revenue (Millions)'].mean(),inplace=True)
#filling the null value with the most reapted one

In [27]:
df_copy.info()
#filled all null values

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  1000 non-null   float64
 10  Metascore           1000 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 126.0+ KB

In [28]:
df

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Resident Evil: Afterlife,994,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
Project X,995,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [29]:
james=df[df['Director']=='James Gunn']
james

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Slither,909,"Comedy,Horror,Sci-Fi","A small town is taken over by an alien plague,...",James Gunn,"Nathan Fillion, Elizabeth Banks, Michael Rooke...",2006,95,6.5,64351,7.77,69.0
Super,938,"Comedy,Drama",After his wife falls under the influence of a ...,James Gunn,"Rainn Wilson, Ellen Page, Liv Tyler, Kevin Bacon",2010,96,6.8,64535,0.32,50.0

In [30]:
riddely_chris=df[(df['Director']=='Ridley Scott') | (df['Director']=='Christopher Nolan')]
riddely_chris

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
The Prestige,65,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
The Martian,103,"Adventure,Drama,Sci-Fi",An astronaut becomes stranded on Mars after hi...,Ridley Scott,"Matt Damon, Jessica Chastain, Kristen Wiig, Ka...",2015,144,8.0,556097,228.43,80.0
The Dark Knight Rises,125,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
Robin Hood,388,"Action,Adventure,Drama","In 12th century England, Robin and his band of...",Ridley Scott,"Russell Crowe, Cate Blanchett, Matthew Macfady...",2010,140,6.7,221117,105.22,53.0
American Gangster,471,"Biography,Crime,Drama","In 1970s America, a detective works to bring d...",Ridley Scott,"Denzel Washington, Russell Crowe, Chiwetel Eji...",2007,157,7.8,337835,130.13,76.0
Exodus: Gods and Kings,517,"Action,Adventure,Drama",The defiant leader Moses rises up against the ...,Ridley Scott,"Christian Bale, Joel Edgerton, Ben Kingsley, S...",2014,150,6.0,137299,65.01,52.0
The Counselor,522,"Crime,Drama,Thriller",A lawyer finds himself in over his head when h...,Ridley Scott,"Michael Fassbender, PenÃ©lope Cruz, Cameron Dia...",2013,117,5.3,84927,16.97,48.0
A Good Year,531,"Comedy,Drama,Romance",A British investment broker inherits his uncle...,Ridley Scott,"Russell Crowe, Abbie Cornish, Albert Finney, M...",2006,117,6.9,74674,7.46,47.0
Body of Lies,738,"Action,Drama,Romance",A CIA agent on the ground in Jordan hunts down...,Ridley Scott,"Leonardo DiCaprio, Russell Crowe, Mark Strong,...",2008,128,7.1,182305,39.38,57.0

In [31]:
riddely_chris.shape

(13, 11)

In [32]:
df_movies_special = df[((df['Year'] >= 2005) & (df['Year'] <= 2008 ) & (df['Rating'] >= 8) & (df['Revenue (Millions)'] <= df['Revenue (Millions)'].quantile(.25)))]
df_movies_special

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
The Lives of Others,477,"Drama,Thriller","In 1984 East Berlin, an agent of the secret po...",Florian Henckel von Donnersmarck,"Ulrich MÃ¼he, Martina Gedeck,Sebastian Koch, Ul...",2006,137,8.5,278103,11.28,89.0
Taare Zameen Par,992,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0

In [33]:
df_small = df[:100]
df_small

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
The Legend of Tarzan,108,"Action,Adventure,Drama","Tarzan, having acclimated to life in London, i...",David Yates,"Alexander SkarsgÃ¥rd, Rory J. Saper, Christian ...",2016,110,6.3,117590,126.59,44.0
Ex Machina,110,"Drama,Mystery,Sci-Fi",A young programmer is selected to participate ...,Alex Garland,"Alicia Vikander, Domhnall Gleeson, Oscar Isaac...",2014,108,7.7,339797,25.44,78.0
The Belko Experiment,111,"Action,Horror,Thriller","In a twisted social experiment, 80 Americans a...",Greg McLean,"John Gallagher Jr., Tony Goldwyn, Adria Arjona...",2016,89,6.3,3712,10.16,44.0
12 Years a Slave,112,"Biography,Drama,History","In the antebellum United States, Solomon North...",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",2013,134,8.1,486338,56.67,96.0
300,114,"Action,Fantasy,War",King Leonidas of Sparta and a force of 300 men...,Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",2006,117,7.7,637104,210.59,52.0

In [34]:
for i in df_small.index :
    print(df_small['Director'][i],df_small['Actors'][i])

James Gunn Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana
Ridley Scott Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron
M. Night Shyamalan James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula
Christophe Lourdelet Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson
David Ayer Will Smith, Jared Leto, Margot Robbie, Viola Davis
Yimou Zhang Matt Damon, Tian Jing, Willem Dafoe, Andy Lau
Damien Chazelle Ryan Gosling, Emma Stone, Rosemarie DeWitt, J.K. Simmons
James Gray Charlie Hunnam, Robert Pattinson, Sienna Miller, Tom Holland
Morten Tyldum Jennifer Lawrence, Chris Pratt, Michael Sheen,Laurence Fishburne
David Yates Eddie Redmayne, Katherine Waterston, Alison Sudol,Dan Fogler
Theodore Melfi Taraji P. Henson, Octavia Spencer, Janelle MonÃ¡e,Kevin Costner
Gareth Edwards Felicity Jones, Diego Luna, Alan Tudyk, Donnie Yen
Ron Clements Auli'i Cravalho, Dwayne Johnson, Rachel House, Temuera Morrison
Nacho Vigalondo Anne Hathaway, Jason Sudeikis, Austin Stowell,Tim Blake Nelson
Chris Renaud Louis C.K., Eric Stonestreet, Kevin Hart, Lake Bell
Mel Gibson Andrew Garfield, Sam Worthington, Luke Bracey,Teresa Palmer
Paul Greengrass Matt Damon, Tommy Lee Jones, Alicia Vikander,Vincent Cassel
Garth Davis Dev Patel, Nicole Kidman, Rooney Mara, Sunny Pawar
Denis Villeneuve Amy Adams, Jeremy Renner, Forest Whitaker,Michael Stuhlbarg
Stephen Gaghan Matthew McConaughey, Edgar RamÃ­rez, Bryce Dallas Howard, Corey Stoll
Kenneth Lonergan Casey Affleck, Michelle Williams, Kyle Chandler,Lucas Hedges
Walt Dohrn Anna Kendrick, Justin Timberlake,Zooey Deschanel, Christopher Mintz-Plasse
Roland Emmerich Liam Hemsworth, Jeff Goldblum, Bill Pullman,Maika Monroe
Jon Lucas Mila Kunis, Kathryn Hahn, Kristen Bell,Christina Applegate
Justin Kurzel Michael Fassbender, Marion Cotillard, Jeremy Irons,Brendan Gleeson
John Hamburg Zoey Deutch, James Franco, Tangie Ambrose,Cedric the Entertainer
Tom Ford Amy Adams, Jake Gyllenhaal, Michael Shannon, Aaron Taylor-Johnson
Bryan Singer James McAvoy, Michael Fassbender, Jennifer Lawrence, Nicholas Hoult
Tim Miller Ryan Reynolds, Morena Baccarin, T.J. Miller, Ed Skrein
Paul W.S. Anderson Milla Jovovich, Iain Glen, Ali Larter, Shawn Roberts
Anthony Russo Chris Evans, Robert Downey Jr.,Scarlett Johansson, Sebastian Stan
Christopher Nolan Matthew McConaughey, Anne Hathaway, Jessica Chastain, Mackenzie Foy
Scott Derrickson Benedict Cumberbatch, Chiwetel Ejiofor, Rachel McAdams, Benedict Wong
Antoine Fuqua Denzel Washington, Chris Pratt, Ethan Hawke,Vincent D'Onofrio
Greg Tiernan Seth Rogen, Kristen Wiig, Jonah Hill, Alistair Abell
Barry Jenkins Mahershala Ali, Shariff Earp, Duan Sanderson, Alex R. Hibbert
John Lee Hancock Michael Keaton, Nick Offerman, John Carroll Lynch, Linda Cardellini
Ricardo de Montreuil Gabriel Chavarria, DemiÃ¡n Bichir, Theo Rossi,Tony Revolori
Rob Marshall Johnny Depp, PenÃ©lope Cruz, Ian McShane, Geoffrey Rush
John Madden Jessica Chastain, Mark Strong, Gugu Mbatha-Raw,Michael Stuhlbarg
Justin Lin Chris Pine, Zachary Quinto, Karl Urban, Zoe Saldana
J.J. Abrams Daisy Ridley, John Boyega, Oscar Isaac, Domhnall Gleeson
Anna Foerster Kate Beckinsale, Theo James, Tobias Menzies, Lara Pulver
Garry Marshall Jennifer Aniston, Kate Hudson, Julia Roberts, Jason Sudeikis
Chad Stahelski Keanu Reeves, Michael Nyqvist, Alfie Allen, Willem Dafoe
Christopher Nolan Christian Bale, Heath Ledger, Aaron Eckhart,Michael Caine
Martin Scorsese Andrew Garfield, Adam Driver, Liam Neeson,Tadanobu Asano
Fede Alvarez Stephen Lang, Jane Levy, Dylan Minnette, Daniel Zovatto
Thea Sharrock Emilia Clarke, Sam Claflin, Janet McTeer, Charles Dance
Lone Scherfig Gemma Arterton, Sam Claflin, Bill Nighy, Jack Huston
Clint Eastwood Tom Hanks, Aaron Eckhart, Laura Linney, Valerie Mahaffey
Zack Snyder Ben Affleck, Henry Cavill, Amy Adams, Jesse Eisenberg
Tate Taylor Emily Blunt, Haley Bennett, Rebecca Ferguson, Justin Theroux
Sam Taylor-Johnson Dakota Johnson, Jamie Dornan, Jennifer Ehle,Eloise Mumford
Christopher Nolan Christian Bale, Hugh Jackman, Scarlett Johansson, Michael Caine
Matthew Vaughn Colin Firth, Taron Egerton, Samuel L. Jackson,Michael Caine
Peter Berg Mark Wahlberg, Michelle Monaghan, J.K. Simmons, John Goodman
George Miller Tom Hardy, Charlize Theron, Nicholas Hoult, ZoÃ« Kravitz
Robin Swicord Bryan Cranston, Jennifer Garner, Beverly D'Angelo,Jason O'Mara
Peter Berg Mark Wahlberg, Kurt Russell, Douglas M. Griffin, James DuMont
Robert Zemeckis Brad Pitt, Marion Cotillard, Jared Harris, Vincent Ebrahim
J.A. Bayona Lewis MacDougall, Sigourney Weaver, Felicity Jones,Toby Kebbell
David Frankel Will Smith, Edward Norton, Kate Winslet, Michael PeÃ±a
Byron Howard Ginnifer Goodwin, Jason Bateman, Idris Elba, Jenny Slate
Gore Verbinski Johnny Depp, Orlando Bloom, Keira Knightley,Geoffrey Rush
Joss Whedon Robert Downey Jr., Chris Evans, Scarlett Johansson,Jeremy Renner
Quentin Tarantino Brad Pitt, Diane Kruger, Eli Roth,MÃ©lanie Laurent
Gore Verbinski Johnny Depp, Orlando Bloom, Keira Knightley, Jack Davenport
Paul Feig Melissa McCarthy, Kristen Wiig, Kate McKinnon, Leslie Jones
Christopher Nolan Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page, Ken Watanabe
Matt Ross Viggo Mortensen, George MacKay, Samantha Isler,Annalise Basso
Martin Scorsese Leonardo DiCaprio, Jonah Hill, Margot Robbie,Matthew McConaughey
David Fincher Ben Affleck, Rosamund Pike, Neil Patrick Harris,Tyler Perry
James Wan Vin Diesel, Paul Walker, Dwayne Johnson, Jason Statham
Colin Trevorrow Chris Pratt, Bryce Dallas Howard, Ty Simpkins,Judy Greer
Ben Affleck Ben Affleck, Elle Fanning, Brendan Gleeson, Chris Messina
James Cameron Sam Worthington, Zoe Saldana, Sigourney Weaver, Michelle Rodriguez
Quentin Tarantino Samuel L. Jackson, Kurt Russell, Jennifer Jason Leigh, Walton Goggins
Gavin O'Connor Ben Affleck, Anna Kendrick, J.K. Simmons, Jon Bernthal
Denis Villeneuve Hugh Jackman, Jake Gyllenhaal, Viola Davis,Melissa Leo
Duncan Jones Travis Fimmel, Paula Patton, Ben Foster, Dominic Cooper
Tate Taylor Emma Stone, Viola Davis, Octavia Spencer, Bryce Dallas Howard
Todd Phillips Jonah Hill, Miles Teller, Steve Lantz, Gregg Weiner
Joss Whedon Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth
Shane Black Russell Crowe, Ryan Gosling, Angourie Rice, Matt Bomer
Makoto Shinkai RyÃ»nosuke Kamiki, Mone Kamishiraishi, RyÃ´ Narita, Aoi Yuki
Jeremy Gillespie Aaron Poole, Kenneth Welsh,Daniel Fathers, Kathleen Munroe
Olivier Assayas Kristen Stewart, Lars Eidinger, Sigrid Bouaziz,Anders Danielsen Lie
Martin Scorsese Leonardo DiCaprio, Matt Damon, Jack Nicholson, Mark Wahlberg
Brian Helgeland Tom Hardy, Emily Browning, Taron Egerton, Paul Anderson
Kenneth Branagh Chris Hemsworth, Anthony Hopkins, Natalie Portman, Tom Hiddleston
Ridley Scott Matt Damon, Jessica Chastain, Kristen Wiig, Kate Mara
Guy Ritchie Henry Cavill, Armie Hammer, Alicia Vikander, Elizabeth Debicki
David Mackenzie Chris Pine, Ben Foster, Jeff Bridges, Gil Birmingham
Taylor Hackford Robert De Niro, Leslie Mann, Danny DeVito, Edie Falco
David Yates Alexander SkarsgÃ¥rd, Rory J. Saper, Christian Stevens, Christoph Waltz
Alex Garland Alicia Vikander, Domhnall Gleeson, Oscar Isaac,Sonoya Mizuno
Greg McLean John Gallagher Jr., Tony Goldwyn, Adria Arjona, John C. McGinley
Steve McQueen Chiwetel Ejiofor, Michael Kenneth Williams, Michael Fassbender, Brad Pitt
Zack Snyder Gerard Butler, Lena Headey, David Wenham, Dominic West

In [35]:
for index , row in df_small.iterrows() :
    print(row['Director'] , index)

James Gunn Guardians of the Galaxy
Ridley Scott Prometheus
M. Night Shyamalan Split
Christophe Lourdelet Sing
David Ayer Suicide Squad
Yimou Zhang The Great Wall
Damien Chazelle La La Land
James Gray The Lost City of Z
Morten Tyldum Passengers
David Yates Fantastic Beasts and Where to Find Them
Theodore Melfi Hidden Figures
Gareth Edwards Rogue One
Ron Clements Moana
Nacho Vigalondo Colossal
Chris Renaud The Secret Life of Pets
Mel Gibson Hacksaw Ridge
Paul Greengrass Jason Bourne
Garth Davis Lion
Denis Villeneuve Arrival
Stephen Gaghan Gold
Kenneth Lonergan Manchester by the Sea
Walt Dohrn Trolls
Roland Emmerich Independence Day: Resurgence
Jon Lucas Bad Moms
Justin Kurzel Assassin's Creed
John Hamburg Why Him?
Tom Ford Nocturnal Animals
Bryan Singer X-Men: Apocalypse
Tim Miller Deadpool
Paul W.S. Anderson Resident Evil: The Final Chapter
Anthony Russo Captain America: Civil War
Christopher Nolan Interstellar
Scott Derrickson Doctor Strange
Antoine Fuqua The Magnificent Seven
Greg Tiernan Sausage Party
Barry Jenkins Moonlight
John Lee Hancock The Founder
Ricardo de Montreuil Lowriders
Rob Marshall Pirates of the Caribbean: On Stranger Tides
John Madden Miss Sloane
Justin Lin Star Trek Beyond
J.J. Abrams Star Wars: Episode VII - The Force Awakens
Anna Foerster Underworld: Blood Wars
Garry Marshall Mother's Day
Chad Stahelski John Wick
Christopher Nolan The Dark Knight
Martin Scorsese Silence
Fede Alvarez Don't Breathe
Thea Sharrock Me Before You
Lone Scherfig Their Finest
Clint Eastwood Sully
Zack Snyder Batman v Superman: Dawn of Justice
Tate Taylor The Girl on the Train
Sam Taylor-Johnson Fifty Shades of Grey
Christopher Nolan The Prestige
Matthew Vaughn Kingsman: The Secret Service
Peter Berg Patriots Day
George Miller Mad Max: Fury Road
Robin Swicord Wakefield
Peter Berg Deepwater Horizon
Robert Zemeckis Allied
J.A. Bayona A Monster Calls
David Frankel Collateral Beauty
Byron Howard Zootopia
Gore Verbinski Pirates of the Caribbean: At World's End
Joss Whedon The Avengers
Quentin Tarantino Inglourious Basterds
Gore Verbinski Pirates of the Caribbean: Dead Man's Chest
Paul Feig Ghostbusters
Christopher Nolan Inception
Matt Ross Captain Fantastic
Martin Scorsese The Wolf of Wall Street
David Fincher Gone Girl
James Wan Furious Seven
Colin Trevorrow Jurassic World
Ben Affleck Live by Night
James Cameron Avatar
Quentin Tarantino The Hateful Eight
Gavin O'Connor The Accountant
Denis Villeneuve Prisoners
Duncan Jones Warcraft
Tate Taylor The Help
Todd Phillips War Dogs
Joss Whedon Avengers: Age of Ultron
Shane Black The Nice Guys
Makoto Shinkai Kimi no na wa
Jeremy Gillespie The Void
Olivier Assayas Personal Shopper
Martin Scorsese The Departed
Brian Helgeland Legend
Kenneth Branagh Thor
Ridley Scott The Martian
Guy Ritchie The Man from U.N.C.L.E.
David Mackenzie Hell or High Water
Taylor Hackford The Comedian
David Yates The Legend of Tarzan
Alex Garland Ex Machina
Greg McLean The Belko Experiment
Steve McQueen 12 Years a Slave
Zack Snyder 300

In [36]:
for index , row in df_small.iterrows() :
    print(row.Actors , row.Metascore)

Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana 76.0
Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron 65.0
James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula 62.0
Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson 59.0
Will Smith, Jared Leto, Margot Robbie, Viola Davis 40.0
Matt Damon, Tian Jing, Willem Dafoe, Andy Lau 42.0
Ryan Gosling, Emma Stone, Rosemarie DeWitt, J.K. Simmons 93.0
Charlie Hunnam, Robert Pattinson, Sienna Miller, Tom Holland 78.0
Jennifer Lawrence, Chris Pratt, Michael Sheen,Laurence Fishburne 41.0
Eddie Redmayne, Katherine Waterston, Alison Sudol,Dan Fogler 66.0
Taraji P. Henson, Octavia Spencer, Janelle MonÃ¡e,Kevin Costner 74.0
Felicity Jones, Diego Luna, Alan Tudyk, Donnie Yen 65.0
Auli'i Cravalho, Dwayne Johnson, Rachel House, Temuera Morrison 81.0
Anne Hathaway, Jason Sudeikis, Austin Stowell,Tim Blake Nelson 70.0
Louis C.K., Eric Stonestreet, Kevin Hart, Lake Bell 61.0
Andrew Garfield, Sam Worthington, Luke Bracey,Teresa Palmer 71.0
Matt Damon, Tommy Lee Jones, Alicia Vikander,Vincent Cassel 58.0
Dev Patel, Nicole Kidman, Rooney Mara, Sunny Pawar 69.0
Amy Adams, Jeremy Renner, Forest Whitaker,Michael Stuhlbarg 81.0
Matthew McConaughey, Edgar RamÃ­rez, Bryce Dallas Howard, Corey Stoll 49.0
Casey Affleck, Michelle Williams, Kyle Chandler,Lucas Hedges 96.0
Anna Kendrick, Justin Timberlake,Zooey Deschanel, Christopher Mintz-Plasse 56.0
Liam Hemsworth, Jeff Goldblum, Bill Pullman,Maika Monroe 32.0
Mila Kunis, Kathryn Hahn, Kristen Bell,Christina Applegate 60.0
Michael Fassbender, Marion Cotillard, Jeremy Irons,Brendan Gleeson 36.0
Zoey Deutch, James Franco, Tangie Ambrose,Cedric the Entertainer 39.0
Amy Adams, Jake Gyllenhaal, Michael Shannon, Aaron Taylor-Johnson 67.0
James McAvoy, Michael Fassbender, Jennifer Lawrence, Nicholas Hoult 52.0
Ryan Reynolds, Morena Baccarin, T.J. Miller, Ed Skrein 65.0
Milla Jovovich, Iain Glen, Ali Larter, Shawn Roberts 49.0
Chris Evans, Robert Downey Jr.,Scarlett Johansson, Sebastian Stan 75.0
Matthew McConaughey, Anne Hathaway, Jessica Chastain, Mackenzie Foy 74.0
Benedict Cumberbatch, Chiwetel Ejiofor, Rachel McAdams, Benedict Wong 72.0
Denzel Washington, Chris Pratt, Ethan Hawke,Vincent D'Onofrio 54.0
Seth Rogen, Kristen Wiig, Jonah Hill, Alistair Abell 66.0
Mahershala Ali, Shariff Earp, Duan Sanderson, Alex R. Hibbert 99.0
Michael Keaton, Nick Offerman, John Carroll Lynch, Linda Cardellini 66.0
Gabriel Chavarria, DemiÃ¡n Bichir, Theo Rossi,Tony Revolori 57.0
Johnny Depp, PenÃ©lope Cruz, Ian McShane, Geoffrey Rush 45.0
Jessica Chastain, Mark Strong, Gugu Mbatha-Raw,Michael Stuhlbarg 64.0
Chris Pine, Zachary Quinto, Karl Urban, Zoe Saldana 68.0
Daisy Ridley, John Boyega, Oscar Isaac, Domhnall Gleeson 81.0
Kate Beckinsale, Theo James, Tobias Menzies, Lara Pulver 23.0
Jennifer Aniston, Kate Hudson, Julia Roberts, Jason Sudeikis 18.0
Keanu Reeves, Michael Nyqvist, Alfie Allen, Willem Dafoe 68.0
Christian Bale, Heath Ledger, Aaron Eckhart,Michael Caine 82.0
Andrew Garfield, Adam Driver, Liam Neeson,Tadanobu Asano 79.0
Stephen Lang, Jane Levy, Dylan Minnette, Daniel Zovatto 71.0
Emilia Clarke, Sam Claflin, Janet McTeer, Charles Dance 51.0
Gemma Arterton, Sam Claflin, Bill Nighy, Jack Huston 76.0
Tom Hanks, Aaron Eckhart, Laura Linney, Valerie Mahaffey 74.0
Ben Affleck, Henry Cavill, Amy Adams, Jesse Eisenberg 44.0
Emily Blunt, Haley Bennett, Rebecca Ferguson, Justin Theroux 48.0
Dakota Johnson, Jamie Dornan, Jennifer Ehle,Eloise Mumford 46.0
Christian Bale, Hugh Jackman, Scarlett Johansson, Michael Caine 66.0
Colin Firth, Taron Egerton, Samuel L. Jackson,Michael Caine 58.0
Mark Wahlberg, Michelle Monaghan, J.K. Simmons, John Goodman 69.0
Tom Hardy, Charlize Theron, Nicholas Hoult, ZoÃ« Kravitz 90.0
Bryan Cranston, Jennifer Garner, Beverly D'Angelo,Jason O'Mara 61.0
Mark Wahlberg, Kurt Russell, Douglas M. Griffin, James DuMont 68.0
Brad Pitt, Marion Cotillard, Jared Harris, Vincent Ebrahim 60.0
Lewis MacDougall, Sigourney Weaver, Felicity Jones,Toby Kebbell 76.0
Will Smith, Edward Norton, Kate Winslet, Michael PeÃ±a 23.0
Ginnifer Goodwin, Jason Bateman, Idris Elba, Jenny Slate 78.0
Johnny Depp, Orlando Bloom, Keira Knightley,Geoffrey Rush 50.0
Robert Downey Jr., Chris Evans, Scarlett Johansson,Jeremy Renner 69.0
Brad Pitt, Diane Kruger, Eli Roth,MÃ©lanie Laurent 69.0
Johnny Depp, Orlando Bloom, Keira Knightley, Jack Davenport 53.0
Melissa McCarthy, Kristen Wiig, Kate McKinnon, Leslie Jones 60.0
Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page, Ken Watanabe 74.0
Viggo Mortensen, George MacKay, Samantha Isler,Annalise Basso 72.0
Leonardo DiCaprio, Jonah Hill, Margot Robbie,Matthew McConaughey 75.0
Ben Affleck, Rosamund Pike, Neil Patrick Harris,Tyler Perry 79.0
Vin Diesel, Paul Walker, Dwayne Johnson, Jason Statham 67.0
Chris Pratt, Bryce Dallas Howard, Ty Simpkins,Judy Greer 59.0
Ben Affleck, Elle Fanning, Brendan Gleeson, Chris Messina 49.0
Sam Worthington, Zoe Saldana, Sigourney Weaver, Michelle Rodriguez 83.0
Samuel L. Jackson, Kurt Russell, Jennifer Jason Leigh, Walton Goggins 68.0
Ben Affleck, Anna Kendrick, J.K. Simmons, Jon Bernthal 51.0
Hugh Jackman, Jake Gyllenhaal, Viola Davis,Melissa Leo 74.0
Travis Fimmel, Paula Patton, Ben Foster, Dominic Cooper 32.0
Emma Stone, Viola Davis, Octavia Spencer, Bryce Dallas Howard 62.0
Jonah Hill, Miles Teller, Steve Lantz, Gregg Weiner 57.0
Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth 66.0
Russell Crowe, Ryan Gosling, Angourie Rice, Matt Bomer 70.0
RyÃ»nosuke Kamiki, Mone Kamishiraishi, RyÃ´ Narita, Aoi Yuki 79.0
Aaron Poole, Kenneth Welsh,Daniel Fathers, Kathleen Munroe 62.0
Kristen Stewart, Lars Eidinger, Sigrid Bouaziz,Anders Danielsen Lie 77.0
Leonardo DiCaprio, Matt Damon, Jack Nicholson, Mark Wahlberg 85.0
Tom Hardy, Emily Browning, Taron Egerton, Paul Anderson 55.0
Chris Hemsworth, Anthony Hopkins, Natalie Portman, Tom Hiddleston 57.0
Matt Damon, Jessica Chastain, Kristen Wiig, Kate Mara 80.0
Henry Cavill, Armie Hammer, Alicia Vikander, Elizabeth Debicki 56.0
Chris Pine, Ben Foster, Jeff Bridges, Gil Birmingham 88.0
Robert De Niro, Leslie Mann, Danny DeVito, Edie Falco 40.0
Alexander SkarsgÃ¥rd, Rory J. Saper, Christian Stevens, Christoph Waltz 44.0
Alicia Vikander, Domhnall Gleeson, Oscar Isaac,Sonoya Mizuno 78.0
John Gallagher Jr., Tony Goldwyn, Adria Arjona, John C. McGinley 44.0
Chiwetel Ejiofor, Michael Kenneth Williams, Michael Fassbender, Brad Pitt 96.0
Gerard Butler, Lena Headey, David Wenham, Dominic West 52.0

In [37]:
genre_lst = []
for index , row in df.iterrows() :
    genre_lst += row['Genre'].split(',')

In [38]:
genre_lst

['Action',
 'Adventure',
 'Sci-Fi',
 'Adventure',
 'Mystery',
 'Sci-Fi',
 'Horror',
 'Thriller',
 'Animation',
 'Comedy',
 'Family',
 'Action',
 'Adventure',
 'Fantasy',
 'Action',
 'Adventure',
 'Fantasy',
 'Comedy',
 'Drama',
 'Music',
 'Action',
 'Adventure',
 'Biography',
 'Adventure',
 'Drama',
 'Romance',
 'Adventure',
 'Family',
 'Fantasy',
 'Biography',
 'Drama',
 'History',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Animation',
 'Adventure',
 'Comedy',
 'Action',
 'Comedy',
 'Drama',
 'Animation',
 'Adventure',
 'Comedy',
 'Biography',
 'Drama',
 'History',
 'Action',
 'Thriller',
 'Biography',
 'Drama',
 'Drama',
 'Mystery',
 'Sci-Fi',
 'Adventure',
 'Drama',
 'Thriller',
 'Drama',
 'Animation',
 'Adventure',
 'Comedy',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Action',
 'Adventure',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Comedy',
 'Action',
 'Horror',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Adventure',
 'Drama',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Fantasy',
 'Action',
 'Adventure',
 'Western',
 'Animation',
 'Adventure',
 'Comedy',
 'Drama',
 'Biography',
 'Drama',
 'History',
 'Drama',
 'Action',
 'Adventure',
 'Fantasy',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Fantasy',
 'Action',
 'Adventure',
 'Fantasy',
 'Comedy',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Action',
 'Crime',
 'Drama',
 'Adventure',
 'Drama',
 'History',
 'Crime',
 'Horror',
 'Thriller',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Biography',
 'Drama',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Crime',
 'Drama',
 'Mystery',
 'Drama',
 'Romance',
 'Thriller',
 'Drama',
 'Mystery',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'History',
 'Thriller',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Drama',
 'Action',
 'Drama',
 'Thriller',
 'Action',
 'Drama',
 'Romance',
 'Drama',
 'Fantasy',
 'Drama',
 'Romance',
 'Animation',
 'Adventure',
 'Comedy',
 'Action',
 'Adventure',
 'Fantasy',
 'Action',
 'Sci-Fi',
 'Adventure',
 'Drama',
 'War',
 'Action',
 'Adventure',
 'Fantasy',
 'Action',
 'Comedy',
 'Fantasy',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Biography',
 'Comedy',
 'Crime',
 'Crime',
 'Drama',
 'Mystery',
 'Action',
 'Crime',
 'Thriller',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Crime',
 'Drama',
 'Action',
 'Adventure',
 'Fantasy',
 'Crime',
 'Drama',
 'Mystery',
 'Action',
 'Crime',
 'Drama',
 'Crime',
 'Drama',
 'Mystery',
 'Action',
 'Adventure',
 'Fantasy',
 'Drama',
 'Comedy',
 'Crime',
 'Drama',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Comedy',
 'Crime',
 'Animation',
 'Drama',
 'Fantasy',
 'Horror',
 'Mystery',
 'Sci-Fi',
 'Drama',
 'Mystery',
 'Thriller',
 'Crime',
 'Drama',
 'Thriller',
 'Biography',
 'Crime',
 'Drama',
 'Action',
 'Adventure',
 'Fantasy',
 'Adventure',
 'Drama',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Comedy',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Action',
 'Adventure',
 'Drama',
 'Drama',
 'Mystery',
 'Sci-Fi',
 'Action',
 'Horror',
 'Thriller',
 'Biography',
 'Drama',
 'History',
 'Action',
 'Fantasy',
 'War',
 'Adventure',
 'Drama',
 'Fantasy',
 'Comedy',
 'Horror',
 'Thriller',
 'Drama',
 'Horror',
 'Mystery',
 'Animation',
 'Adventure',
 'Comedy',
 'Adventure',
 'Drama',
 'Family',
 'Adventure',
 'Mystery',
 'Sci-Fi',
 'Adventure',
 'Comedy',
 'Romance',
 'Action',
 'Thriller',
 'Adventure',
 'Drama',
 'Family',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Adventure',
 'Crime',
 'Mystery',
 'Comedy',
 'Family',
 'Musical',
 'Adventure',
 'Drama',
 'Thriller',
 'Drama',
 'Adventure',
 'Comedy',
 'Drama',
 'Drama',
 'Horror',
 'Thriller',
 'Drama',
 'Music',
 'Action',
 'Crime',
 'Thriller',
 'Crime',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'Romance',
 'Mystery',
 'Thriller',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Family',
 'Biography',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Western',
 'Drama',
 'Mystery',
 'Romance',
 'Comedy',
 'Drama',
 'Action',
 'Drama',
 'Mystery',
 'Comedy',
 'Action',
 'Adventure',
 'Crime',
 'Adventure',
 'Family',
 'Fantasy',
 'Adventure',
 'Sci-Fi',
 'Thriller',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Horror',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Comedy',
 'Fantasy',
 'Action',
 'Comedy',
 'Mystery',
 'Action',
 'Comedy',
 'Crime',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Crime',
 'Action',
 'Adventure',
 'Thriller',
 'Drama',
 'Fantasy',
 'Romance',
 'Action',
 'Adventure',
 'Comedy',
 'Biography',
 'Drama',
 'History',
 'Action',
 'Drama',
 'History',
 'Action',
 'Adventure',
 'Thriller',
 'Crime',
 'Drama',
 'Thriller',
 'Animation',
 'Adventure',
 'Family',
 'Drama',
 'Romance',
 'Sci-Fi',
 'Animation',
 'Adventure',
 'Comedy',
 'Action',
 'Adventure',
 'Family',
 'Action',
 'Adventure',
 'Drama',
 'Action',
 'Comedy',
 'Horror',
 'Mystery',
 'Thriller',
 'Action',
 'Adventure',
 'Comedy',
 'Comedy',
 'Romance',
 'Horror',
 'Mystery',
 'Drama',
 'Family',
 'Fantasy',
 'Drama',
 'Thriller',
 'Drama',
 'War',
 'Drama',
 'Fantasy',
 'Horror',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'Crime',
 'Drama',
 'History',
 'Horror',
 'Sci-Fi',
 'Thriller',
 'Action',
 'Drama',
 'Sport',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Adventure',
 'Biography',
 'Drama',
 'Biography',
 'Drama',
 'Thriller',
 'Action',
 'Comedy',
 'Crime',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Drama',
 'Fantasy',
 'Horror',
 'Biography',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Mystery',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Drama',
 'Horror',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Action',
 'Adventure',
 'Drama',
 'Drama',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Fantasy',
 'Action',
 'Adventure',
 'Fantasy',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Comedy',
 'Action',
 'Comedy',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Animation',
 'Adventure',
 'Comedy',
 'Horror',
 'Mystery',
 'Crime',
 'Drama',
 'Mystery',
 'Comedy',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Family',
 'Drama',
 'Fantasy',
 'War',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Drama',
 'Action',
 'Adventure',
 'Thriller',
 'Action',
 'Adventure',
 'Drama',
 'Drama',
 'Romance',
 'Biography',
 'Drama',
 'History',
 'Drama',
 'Horror',
 'Thriller',
 'Adventure',
 'Comedy',
 'Drama',
 'Action',
 'Adventure',
 'Romance',
 'Action',
 'Drama',
 'War',
 'Animation',
 'Adventure',
 'Comedy',
 'Animation',
 'Adventure',
 'Comedy',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Adventure',
 'Family',
 'Fantasy',
 'Drama',
 'Musical',
 'Romance',
 'Drama',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Drama',
 'Action',
 'Comedy',
 'Crime',
 'Biography',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Thriller',
 'Biography',
 'Drama',
 'History',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Horror',
 'Mystery',
 'Thriller',
 'Comedy',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Drama',
 'Sci-Fi',
 'Horror',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Horror',
 'Thriller',
 'Comedy',
 'Drama',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Thriller',
 'Adventure',
 'Fantasy',
 'Action',
 'Comedy',
 'Crime',
 'Comedy',
 'Drama',
 'Music',
 'Action',
 'Adventure',
 'Mystery',
 'Action',
 'Comedy',
 'Crime',
 'Crime',
 'Drama',
 'History',
 'Comedy',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Crime',
 'Mystery',
 'Thriller',
 'Action',
 'Adventure',
 'Crime',
 'Biography',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Action',
 'Fantasy',
 'Action',
 'Comedy',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Comedy',
 'Crime',
 'Action',
 'Drama',
 'Horror',
 'Comedy',
 'Music',
 'Romance',
 'Comedy',
 'Action',
 'Adventure',
 'Fantasy',
 'Drama',
 'Romance',
 'Animation',
 'Adventure',
 'Comedy',
 'Comedy',
 'Drama',
 'Biography',
 'Crime',
 'Drama',
 'Drama',
 'History',
 'Action',
 'Crime',
 'Thriller',
 'Action',
 'Biography',
 'Drama',
 'Horror',
 'Comedy',
 'Romance',
 'Comedy',
 'Romance',
 'Comedy',
 'Crime',
 'Drama',
 'Adventure',
 'Family',
 'Fantasy',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Romance',
 'Biography',
 'Drama',
 'Sport',
 'Drama',
 'Romance',
 'Drama',
 'Horror',
 'Adventure',
 'Fantasy',
 'Adventure',
 'Family',
 'Fantasy',
 'Action',
 'Drama',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Horror',
 'Thriller',
 'Action',
 'Crime',
 'Thriller',
 'Crime',
 'Drama',
 'Music',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Action',
 'Sci-Fi',
 'Thriller',
 'Biography',
 'Drama',
 'Action',
 'Adventure',
 'Fantasy',
 'Drama',
 'Horror',
 'Sci-Fi',
 'Biography',
 'Comedy',
 'Drama',
 'Crime',
 'Horror',
 'Thriller',
 'Crime',
 'Drama',
 'Mystery',
 'Animation',
 'Adventure',
 'Comedy',
 'Action',
 'Biography',
 'Drama',
 'Biography',
 'Drama',
 'Biography',
 'Drama',
 'History',
 'Action',
 'Biography',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Action',
 'Crime',
 'Thriller',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Drama',
 'Thriller',
 'Adventure',
 'Family',
 'Fantasy',
 'Action',
 'Adventure',
 'Action',
 'Adventure',
 'Romance',
 'Adventure',
 'Family',
 'Fantasy',
 'Crime',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy',
 'Fantasy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Adventure',
 'Sci-Fi',
 'Thriller',
 'Action',
 'Adventure',
 'Fantasy',
 'Biography',
 'Drama',
 'Romance',
 'Comedy',
 'Fantasy',
 'Comedy',
 'Drama',
 'Fantasy',
 'Comedy',
 'Horror',
 'Thriller',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Adventure',
 'Comedy',
 'Horror',
 'Comedy',
 'Mystery',
 'Drama',
 'Adventure',
 'Drama',
 'Fantasy',
 'Action',
 'Adventure',
 'Action',
 'Adventure',
 'Drama',
 'Action',
 'Drama',
 'Sci-Fi',
 'Action',
 'Mystery',
 'Sci-Fi',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Crime',
 'Fantasy',
 'Biography',
 'Comedy',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Biography',
 'Crime',
 'Drama',
 'Drama',
 'Sport',
 'Adventure',
 'Comedy',
 'Drama',
 'Action',
 'Adventure',
 'Thriller',
 'Comedy',
 'Fantasy',
 'Horror',
 'Drama',
 'Sport',
 'Drama',
 'History',
 'Thriller',
 'Animation',
 'Action',
 'Adventure',
 'Action',
 'Adventure',
 'Drama',
 'Action',
 'Comedy',
 'Family',
 'Action',
 'Adventure',
 'Drama',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Action',
 'Comedy',
 'Action',
 'Crime',
 'Drama',
 'Biography',
 'Drama',
 'Comedy',
 'Drama',
 'Fantasy',
 'Romance',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Comedy',
 'Drama',
 'Animation',
 'Action',
 'Adventure',
 'Animation',
 'Adventure',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Mystery',
 'Thriller',
 'Drama',
 'History',
 'Thriller',
 'Animation',
 'Adventure',
 'Comedy',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Adventure',
 'Comedy',
 'Action',
 'Thriller',
 'Comedy',
 'Music',
 'Animation',
 'Adventure',
 'Comedy',
 'Action',
 'Adventure',
 'Crime',
 'Comedy',
 'Drama',
 'Horror',
 'Adventure',
 'Family',
 'Fantasy',
 'Drama',
 'Action',
 'Drama',
 'Thriller',
 'Drama',
 'Action',
 'Horror',
 'Romance',
 'Action',
 'Drama',
 'Fantasy',
 'Action',
 'Crime',
 'Drama',
 'Drama',
 'Fantasy',
 'Romance',
 ...]

In [39]:
from collections import Counter

In [40]:
Counter(genre_lst).most_common()

[('Drama', 419),
 ('Action', 277),
 ('Comedy', 250),
 ('Adventure', 244),
 ('Thriller', 148),
 ('Crime', 126),
 ('Romance', 120),
 ('Sci-Fi', 107),
 ('Fantasy', 92),
 ('Horror', 87),
 ('Mystery', 86),
 ('Biography', 67),
 ('Family', 48),
 ('Animation', 45),
 ('History', 25),
 ('Music', 15),
 ('Sport', 15),
 ('War', 10),
 ('Musical', 5),
 ('Western', 4)]

In [41]:
#testing an assumption that all long movies are good
df['opinion']=df['Rating'].apply(lambda x : "good" if x>= 8 else "boring")

In [42]:
df

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,opinion
Title,,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,good
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,boring
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,boring
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,boring
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,boring
...,...,...,...,...,...,...,...,...,...,...,...,...
Resident Evil: Afterlife,994,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0,boring
Project X,995,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0,boring
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,boring
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,boring
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,boring

In [43]:
df['islong']=df['Runtime (Minutes)'].apply(lambda x : 'Yes' if x > 120 else 'No' )

In [44]:
df

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,opinion,islong
Title,,,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,good,Yes
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,boring,Yes
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,boring,No
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,boring,No
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,boring,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Resident Evil: Afterlife,994,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0,boring,No
Project X,995,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0,boring,No
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,boring,No
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,boring,No
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,boring,No

In [45]:
df_new = df[(df['opinion'] ==  "good") & (df['islong'] == 'Yes')]

In [46]:
df_new.shape

(43, 13)

In [47]:
#43 movies is long and not boring from 1000 movie the assumption is wrong

In [48]:
#comparing the relation between how long the movie and how much it is profitable
lng_prf = []
mean = df['Revenue (Millions)'].quantile(.50)
for index , rows in df.iterrows() :
    if (rows['Revenue (Millions)'] >= mean ) & (rows['Runtime (Minutes)'] >= 120 ) :
        lng_prf.append('lng_prfbl')
    elif (rows['Revenue (Millions)'] >= mean) & (rows['Runtime (Minutes)'] < 120 ) :
        lng_prf.append('shrt_prfbl')
    elif (rows['Revenue (Millions)'] < mean) & (rows['Runtime (Minutes)'] < 120 ) :
        lng_prf.append('shrt_notprfbl')  
    elif (rows['Revenue (Millions)'] < mean) & (rows['Runtime (Minutes)'] >= 120 ) :
        lng_prf.append('lng_notprfbl')

In [49]:
df['lng_prf']=lng_prf

In [50]:
df

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,opinion,islong,lng_prf
Title,,,,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,good,Yes,lng_prfbl
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,boring,Yes,lng_prfbl
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,boring,No,shrt_prfbl
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,boring,No,shrt_prfbl
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,boring,Yes,lng_prfbl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Resident Evil: Afterlife,994,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0,boring,No,shrt_prfbl
Project X,995,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0,boring,No,shrt_prfbl
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,boring,No,shrt_notprfbl
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,boring,No,shrt_prfbl
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,boring,No,shrt_notprfbl

In [51]:
df['lng_prf'].value_counts()
#results show that long movies are less but can be profitable more than short movies

lng_prf
shrt_notprfbl    311
shrt_prfbl       247
lng_prfbl        172
lng_notprfbl     108
Name: count, dtype: int64

In [52]:
df['lng_prf'].value_counts(normalize=True)

lng_prf
shrt_notprfbl    0.371122
shrt_prfbl       0.294749
lng_prfbl        0.205251
lng_notprfbl     0.128878
Name: proportion, dtype: float64

In [53]:
df_wide_small = df.filter(items=['Title','Rating','Votes','Metascore'])[:100]

In [54]:
df_wide_small

                         Rating   Votes  Metascore
Title
Guardians of the Galaxy     8.1  757074       76.0
Prometheus                  7.0  485820       65.0
Split                       7.3  157606       62.0
Sing                        7.2   60545       59.0
Suicide Squad               6.2  393727       40.0
...                         ...     ...        ...
The Legend of Tarzan        6.3  117590       44.0
Ex Machina                  7.7  339797       78.0
The Belko Experiment        6.3    3712       44.0
12 Years a Slave            8.1  486338       96.0
300                         7.7  637104       52.0

[100 rows x 3 columns]

In [55]:
df_wide_small=df_wide_small.melt( var_name = 'key' , ignore_index=False)

In [56]:
df_wide_small
#un pivot from wide to long

                               key  value
Title
Guardians of the Galaxy     Rating    8.1
Prometheus                  Rating    7.0
Split                       Rating    7.3
Sing                        Rating    7.2
Suicide Squad               Rating    6.2
...                            ...    ...
The Legend of Tarzan     Metascore   44.0
Ex Machina               Metascore   78.0
The Belko Experiment     Metascore   44.0
12 Years a Slave         Metascore   96.0
300                      Metascore   52.0

[300 rows x 2 columns]